@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Michroma&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  padding: 30px;
}


.page-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.container {
  max-width: 900px;
  background: white;
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.heading {
  font-size: 32px;
  margin-bottom: 30px;
}

.upload-box {
  background: #e0e0e0;
  border-radius: 18px;
  padding: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.upload-box p {
  margin-bottom: 20px;
  font-size: 16px;
}

.file-btn {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

#fileName {
  font-size: 14px;
}

.estimate-btn {
  background: #2b2525;
  color: white;
  border: none;
  padding: 14px 26px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.estimate-btn:hover {
  opacity: 0.9;
}

/* Loader */
.loader {
  display: none;
  margin-top: 25px;
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #2b2525;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Result Page */
.result-box {
  background: #e0e0e0;
  padding: 50px;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.back-btn {
  text-decoration: none;
  background: #2b2525;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 25px;
  }

  .heading {
    font-size: 26px;
  }

  .upload-box {
    padding: 25px;
  }
}
